a {
  display: inline-block;
  width: 100px;
  height: 98px;
  background-image: url(sprites2.png);
  background-repeat: no-repeat;
  margin-right: 10px;
  text-align: center;
  font-size: 24px;
  border: 1px solid rgb(224, 70, 70);
  text-decoration: none;
  line-height: 1.5em;
}

a.facebook {
  background-position: left bottom;
}


a.twitter {
  background-position: -100px bottom;
}

a.youtube {
  background-position: -200px bottom;
}


a.instagram {
  background-position: -300px bottom;
}


a.linkedin {
  background-position: -400px bottom; 
}


a.tumblr {
  background-position: -500px bottom; 
}


a.google {
  background-position: -600px bottom;     
}

a:hover {
  background-position-y: top;
}
